<h2>Lista de productos</h2>
<a href="/product/create">Crear producto</a>
{{#if products.length}}
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Descripcion</th>
            <th>Estado</th>
            <th>Destacado</th>
            <th>Rango de ganancia</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{name}}</td>
            <td>{{price}}</td>
            {{#if (eq category.name null)}} <td>Sin categoría</td> {{else}} <td>{{category.name}}</td> {{/if}}
            <td>{{description}}</td>
            <td>
                    {{#if (eq status 'AVAILABLE')}}
                        Disponible
                    {{else if (eq status 'NOT AVAILABLE')}}
                        No Disponible
                    {{else if (eq status 'DISCONTINUED')}}
                        Descontinuado
                    {{else}}
                        {{status}}
                    {{/if}}
                </td>
            <td>
                    {{#if (eq highlighted true)}}
                        Si
                    {{else}}
                        No
                    {{/if}}
                </td>
            <td>{{profitRate}}</td>
            <td>{{quantity}}</td>
            {{/each}}
    </tbody>
</table>
{{else}}
<p>No hay productos registrados.</p>
{{/if}}