<h2>{{title}}</h2>
<a href="/user/create" class="btn">Crear nuevo usuario</a>

{{#if users.length}}
    <table class="user-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{lastName}}</td>
                    <td>{{email}}</td>
                    <td class="actions">
                        <a href="/user/update/{{_id}}" class="btn-edit">Editar</a>
                        
                        <form action="/user/{{_id}}?_method=delete" method="POST" class="inline-form">
                            <button type="submit" class="btn-delete" onclick="return confirm('¿Eliminar usuario?')">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>No hay usuarios registrados.</p>
{{/if}}